
.btn{

    color: #ffffff;
    background: #187600;
    display: block;
    height: 40px;
    width: 178px;
    font-size: 28px;
    margin-top: 35px;
    
}

.center{
        justify-items: center;
}

.number-css{
    margin-right: 4mm;
    width: 20mm;
    background: #00000024;
    color: aliceblue;
    width: 50%;
    font-size: 214%;
    
}

.img-cj{
    height: 80mm;
    border-style: solid;
    color: black;
    margin-right: 39%;
    margin-top: 12mm;
}

.family-cj{
    background: #00000021;
    margin-right: 2mm;
    margin-bottom: 4mm;
    width: 50%;
    font-size: 214%;
    color: #ffffff;
}

.matn{
   color: #ffffff; 
}
.matn-red{
           color: #5a0404;
}

.mtn-family{
    font-size: 190%;
}

.hiden{
    display: none;
}

.matn-green{
        color: #89ff00;
}

.matn-whit{
    color: #ffffff;
}

.bady{
            background: #9836af;
        
}